Reports/Send-email-for-majorincident/azuredeploy.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "metadata":  {
        "title":  "",
        "description":  "",
        "prerequisites":  "",
        "postDeployment":  [
        ],
        "prerequisitesDeployTemplateFile":  "",
        "lastUpdateTime":  "",
        "entities":  [
        ],
        "tags":  [
        ],
        "support":  {
            "tier":  "community",
            "armtemplate":  "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
        },
        "author":  {
            "name":  ""
        }
    },
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "Send-email-for-majorincident",
            "type":  "string"
        },
        "Company logo link":  {
            "type":  "string",
            "metadata":  {
                "description":  "Enter value for Company logo link"
            }
        },
        "MailList":  {
            "type":  "string",
            "metadata":  {
                "description":  "Enter value for MailList"
            }
        },
        "Report name":  {
            "type":  "string",
            "metadata":  {
                "description":  "Enter value for Report name"
            }
        }
    },
    "variables":  {
        "MicrosoftSentinelConnectionName":  "[concat('MicrosoftSentinel-', parameters('PlaybookName'))]",
        "Office365ConnectionName":  "[concat('Office365-', parameters('PlaybookName'))]"
    },
    "resources":  [
        {
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Enabled",
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "defaultValue":  {
                            },
                            "type":  "Object"
                        },
                        "Company logo link":  {
                            "defaultValue":  "[parameters('Company logo link')]",
                            "type":  "string"
                        },
                        "MailList":  {
                            "defaultValue":  "[parameters('MailList')]",
                            "type":  "string"
                        },
                        "Report name":  {
                            "defaultValue":  "[parameters('Report name')]",
                            "type":  "string"
                        }
                    },
                    "triggers":  {
                        "Microsoft_Sentinel_incident":  {
                            "type":  "ApiConnectionWebhook",
                            "inputs":  {
                                "body":  {
                                    "callback_url":  "@{listCallbackUrl()}"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path":  "/incident-creation"
                            }
                        }
                    },
                    "actions":  {
                        "Compose_Email_response":  {
                            "runAfter":  {
                                "Create_HTML_table_with_Alerts":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Compose",
                            "inputs":  "\u003c!DOCTYPE html\u003e\n\u003chtml\u003e\n\n\u003ctable style=\"width: 100%; border-collapse: collapse;\" border=\"1\" width=\"100%\"\u003e\n\n\u003ctbody\u003e\n\n\u003ctr\u003e\n\u003ctd style=\"width: 19%;\" align=\"center\" width=\"19%\"\u003e\n\u003cstrong\u003e\u003cimg src=\"https://azure.microsoft.com/svghandler/azure-sentinel?width=150\u0026amp;height=79\" alt=\"\" /\u003e\u003c/strong\u003e\n\u003c/td\u003e\n\n\u003ctd style=\"width: 41.1434%;\" width=\"48%\"\u003e\n\u003cp style=\"text-align: center;\"\u003e\u003cspan style=\"font-size: 16pt;\"\u003e\u003cstrong\u003e@{parameters('Report name')}\u003c/strong\u003e\u003c/span\u003e\u003c/p\u003e\n\u003cp style=\"text-align: center;\"\u003e\u003cstrong\u003eMicrosoft Sentinel incident report\u003c/strong\u003e\u003c/p\u003e\n\u003c/td\u003e\n\n\u003ctd style=\"width: 20%;\" width=\"20%\"\u003e\n\u003cp\u003e\u003cspan style=\"font-size: 12pt;\"\u003e\u003cstrong\u003eIncident ID: @{triggerBody()?['object']?['properties']?['incidentNumber']}\u003c/strong\u003e\u003c/span\u003e\u003c/p\u003e\n\u003cp\u003e\u003cspan style=\"font-size: 13pt;\"\u003e\u003cstrong\u003e\u003ca href=\"@{triggerBody()?['object']?['properties']?['incidentUrl']}\"\u003eView incident\u003c/a\u003e\u003c/strong\u003e\u003c/span\u003e\u003c/p\u003e\n\u003c/td\u003e\n\n\u003ctd style=\"width: 13%;\" align=\"center\" width=\"13%\"\u003e\n\u003cstrong\u003e\u003cimg src=\"@{parameters('Company logo link')}\"  alt=\"\" height=\"80px\"  /\u003e\u003c/strong\u003e\n\u003c/td\u003e\n\n\u003c/tr\u003e\n\n\u003ctr\u003e\n\u003ctd style=\"width: 93.1434%;\" colspan=\"4\" width=\"100%\"\u003e\n\u003cp\u003eIncident title:\u003c/p\u003e\n\u003cp\u003e\u003cspan style=\"font-size: 16pt;\"\u003e\u003cstrong\u003e@{triggerBody()?['object']?['properties']?['title']}\u003c/strong\u003e\u003c/span\u003e\u003c/p\u003e\n\u003cp\u003e\u0026nbsp;\u003c/p\u003e\n\u003c/td\u003e\n\u003c/tr\u003e\n\n\u003c/tbody\u003e\n\u003c/table\u003e\n\n\u003ctable style=\"width: 100%; border-collapse: collapse;\" border=\"1\" width=\"100%\"\u003e\n\n\u003ctbody\u003e\n\n\u003ctr style=\"vertical-align: top;\"\u003e\n\u003ctd style=\"width: 23.25%; height: 190px;\"\u003e\n\u003cp\u003e\u003cspan style=\"font-size: 12pt;\"\u003e\u003cstrong\u003eCreation time\u003c/strong\u003e\u003c/span\u003e\u003cbr /\u003e\u003cbr/\u003e\n\u003cspan style=\"font-size: 12.0pt;\"\u003e@{triggerBody()?['object']?['properties']?['createdTimeUtc']}\u003c/span\u003e\u003c/p\u003e\n\u003c/td\u003e\n\n\u003ctd style=\"width: 23.25%; height: 190px;\"\u003e\n\u003cp\u003e\u003cspan style=\"font-size: 12pt;\"\u003e\u003cstrong\u003eSeverity\u003c/strong\u003e\u003c/span\u003e\u003cbr /\u003e\u003cbr/\u003e\n\u003cspan style=\"font-size: 12.0pt;\"\u003e@{triggerBody()?['object']?['properties']?['severity']}\u003c/span\u003e\u003c/p\u003e\n\u003c/td\u003e\n\n\u003ctd style=\"width: 23.3934%; height: 190px;\"\u003e\n\u003cp\u003e\u003cspan style=\"font-size: 12pt;\"\u003e\u003cstrong\u003eAlert providers\u003c/strong\u003e\u003c/span\u003e\u003cbr /\u003e\u003cbr/\u003e\n\u003cspan style=\"font-size: 12.0pt;\"\u003e@{join(triggerBody()?['object']?['properties']?['additionalData']?['alertProductNames'], '\u003cbr /\u003e')}\u003c/span\u003e\u003c/p\u003e\n\u003c/td\u003e\n\n\u003ctd style=\"width: 23.25%; height: 190px;\"\u003e\n\u003cp\u003e\u003cspan style=\"font-size: 12pt;\"\u003e\u003cstrong\u003eTactics\u003c/strong\u003e\u003c/span\u003e\u003cbr /\u003e\u003cbr/\u003e\n\u003cspan style=\"font-size: 12.0pt;\"\u003e@{join(triggerBody()?['object']?['properties']?['additionalData']?['tactics'], '\u003cbr /\u003e')}\u003c/span\u003e\u003c/p\u003e\n\u003c/td\u003e\n\u003c/tr\u003e\n\n\u003ctd style=\"width: 93.1434%;\" colspan=\"4\" width=\"100%\"\u003e\n\u003cp\u003e\u003cspan style=\"font-size: 12pt;\"\u003e\u003cstrong\u003eDescription\u003c/strong\u003e\u003c/span\u003e\u003cbr /\u003e\u003cbr /\u003e\n\u003cspan style=\"font-size: 12.0pt;\"\u003e@{triggerBody()?['object']?['properties']?['description']}\u003c/span\u003e\u003c/p\u003e\n\u003c/td\u003e\n\u003c/tr\u003e\n\n\u003ctr\u003e\n\u003ctd style=\"width: 46.5%;\" colspan=\"2\" width=\"50%\"\u003e\n\u003cp\u003e\u003cspan style=\"font-size: 12pt;\"\u003e\u003cstrong\u003eEntities\u003c/strong\u003e\u003c/span\u003e\u003c/p\u003e\n\u003cp\u003e@{body('Create_HTML_table_with_Entities')}\u003c/p\u003e\n\u003cp\u003e\u0026nbsp;\u003c/p\u003e\n\u003c/td\u003e\n\n\u003ctd style=\"width: 46.6434%;\" colspan=\"2\" width=\"50%\"\u003e\n@{body('Create_HTML_table_with_Alerts')}\n\u003c/td\u003e\n\n\u003c/tr\u003e\n\n\u003c/tbody\u003e\n\u003c/table\u003e\n\u003c/html\u003e"
                        },
                        "Create_HTML_table_with_Alerts":  {
                            "runAfter":  {
                                "Select_Alerts":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Table",
                            "inputs":  {
                                "format":  "HTML",
                                "from":  "@body('Select_Alerts')"
                            }
                        },
                        "Create_HTML_table_with_Entities":  {
                            "runAfter":  {
                                "Select_Entities":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Table",
                            "inputs":  {
                                "format":  "HTML",
                                "from":  "@body('Select_Entities')"
                            }
                        },
                        "Select_Alerts":  {
                            "runAfter":  {
                                "Create_HTML_table_with_Entities":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Select",
                            "inputs":  {
                                "from":  "@triggerBody()?['object']?['properties']?['Alerts']",
                                "select":  {
                                    "Alerts":  "@item()?['properties']?['alertDisplayName']"
                                }
                            }
                        },
                        "Select_Entities":  {
                            "runAfter":  {
                            },
                            "type":  "Select",
                            "inputs":  {
                                "from":  "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "select":  {
                                    "Entity":  "@item()?['properties']?['friendlyName']",
                                    "Entity type":  "@item()?['kind']"
                                }
                            }
                        },
                        "Send_an_email_with_Incident_details":  {
                            "runAfter":  {
                                "Compose_Email_response":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "Body":  "\u003cp\u003eHi,\u003cbr\u003e\n\u003cbr\u003e\nI hope this message finds you well. We want to inform you that we are currently addressing a high-security incident that has come to our attention.\u003cbr\u003e\n\u003cbr\u003e\nWe will keep you informed about the progress and any relevant updates as we work towards a resolution. If you have any immediate concerns or questions, please don't hesitate to reach out to our support team at MMS.Soc@mannai.com.qa\u003cbr\u003e\n\u003cbr\u003e\n@{outputs('Compose_Email_response')}\u003c/p\u003e",
                                    "Importance":  "High",
                                    "Subject":  "Update on High Incident Resolution - @{triggerBody()?['object']?['properties']?['title']}",
                                    "To":  "@parameters('MailList')"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['office365_1']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/v2/Mail"
                            }
                        }
                    },
                    "outputs":  {
                    }
                },
                "parameters":  {
                    "$connections":  {
                        "value":  {
                            "azuresentinel":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                                "connectionName":  "[variables('MicrosoftSentinelConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]",
                                "connectionProperties":  {
                                    "authentication":  {
                                        "type":  "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "office365_1":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]",
                                "connectionName":  "[variables('Office365ConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Office365')]"
                            }
                        }
                    }
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
            "tags":  {
                "hidden-SentinelTemplateName":  "Send-email-for-majorincident",
                "hidden-SentinelTemplateVersion":  "1.0"
            },
            "identity":  {
                "type":  "SystemAssigned"
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('MicrosoftSentinelConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('MicrosoftSentinelConnectionName')]",
                "customParameterValues":  {
                },
                "parameterValueType":  "Alternative",
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
                }
            }
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('Office365ConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('Office365ConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Office365')]"
                }
            }
        }
    ]
}
